<a href="https://colab.research.google.com/github/blwndr22/assignments/blob/main/Assignment_no_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1. What is identation error? Why identation is important? Give one simple example.**

Identation error occurs when proper white space is not alloted in code and the importance of identation is, it help the user by interpreting the code that where code is blocked.
example :-

In [3]:
name = input("enter here: ")

if name:
  print("yes it is a string")
else:
print("its not")

IndentationError: ignored

## **2. Correct the following code and write the comment where you made the correction.

In [5]:

class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")

IndentationError: ignored

In [9]:
class_started = input("Hey friend, is class started?: [0-False/1-True]") #reason behind removing boolean conversation is because an empty input always return true

if class_started == "0" or class_started == "False":    ## added couple of if conditions to check whether its 0 or false 
  class_started = ""              ## conerted class_started to an empty string

if class_started:
      print("Since class started...")    ## remove couple of white spaces to solve identation error
      print("Lets concentrate")
else:                                         
      print("Since class is not started...")
      print("let's revise")

Hey friend, is class started?: [0-False/1-True]True
Since class started...
Lets concentrate

## **3. Use if else condition to verify the datatype of input() method in python is always string.**

In [11]:
name = input("Enter your name here: ")

if type(name) == str:
  print(type(name))
  print("""Yes! it's a string""")

else:
  print("""No! it's not a string""")

Enter your name here: Balwinder
<class 'str'>
Yes! it's a string

## **4. Take 3 variables and assign integar value to them. Find the largest variable by only using if else condition.**

In [12]:
a = 359
b = 345
c = 330

if a < b:
  if b < c:
    print("C is greater")
  else:
   print("B is greater")
else:
   print("A is greater")

A is greater

## **5. What would be the solution?**

True

False

In [14]:
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )

False

Answer. **False**

##6. Find the answer as well as find out the reason behind the result?
- case 1

In [ ]:
 A = 5.
 B = 10/2
print(A is B)

- case 2

In [ ]:
A = 5.0
B = int(10/2)
print(A is B)

- case 3

In [ ]:
A = 5
B = float(10/2)
print(A is B)

In [16]:
A = 5.
B = 10/2
print(A is B)

False

### Try to understand the following examples and answer the question based on it - 
    
**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples - 
    
```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1


## **7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.**

In [2]:
number = int(input("enter an number which is divisble by 3 or 5: "))
 
if number % 3 == 0 or number == 0:
   print("The number is divisble by either 3 or 5")
else:
  print("The number is not divisble by either 3 or 5")

enter an number which is divisble by 3 or 5: 7
The number is not divisble by either 3 or 5

8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [3]:
length = int(input("enter your length here in meters: "))
width = int(input("enter your width here in meters: "))

area = length * width

if length == width:
  print(f"As the length {length} meters and width {width}meters are same, so it is a square")
else:
  print(f"As the length {length} meters and width {width} meters are not same, so its a rectangle")

enter your length here in meters: 15
enter your width here in meters: 22
As the length 15 meters and width 22 meters are not same, so its a rectangle


## **9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.**

In [4]:
radius_1 = int(input("enter the radius of first circle in meters: "))
radius_2 = int(input("enter the radius of second circle in metere: "))

area_circle_1 = radius_1 ** 2
area_circle_2 = radius_2 ** 2

if area_circle_1 == area_circle_2 :
  print("Both circle has same area")

else:
  if area_circle_1 > area_circle_2:
    print(f"Circle 1 has larger area of {area_circle_1} sq mts")
  else:
    if area_circle_2 > area_circle_1:
      print(f"Circle 2 has larger area of {area_circle_2} sq mts")

enter the radius of first circle in meters: 26
enter the radius of second circle in metere: 62
Circle 2 has larger area of 3844 sq mts

# **10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.**

In [5]:
leap_year = 1900

if leap_year % 4 == 0 :
  if leap_year % 400 == 0:
    print(""" It's a leap year""")
  else:
   print("Not a leap year")
else:
  print("Its not a leap year")

Not a leap year